Repository toolprint/hypertool-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: Prettier Format
  description: Format code with Prettier
  entry: npm run format
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  description: Lint TypeScript files with ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  description: Check TypeScript types
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

refactor: Rename ConfigurationToolsManager to ConfigToolsManager
  docs/features/configuration-mode/CLAUDE.md
  docs/features/configuration-mode/PRD.md
  docs/features/configuration-mode/tasks/README.md
  docs/features/configuration-mode/tasks/TASK-001-config-tools-manager.md
  docs/features/configuration-mode/tasks/TASK-002-mode-switching-tools.md
  docs/features/configuration-mode/tasks/TASK-003-server-mode-integration.md
  docs/features/configuration-mode/tasks/TASK-006-testing-suite.md
Due: prettier

feat: Add ToolsProvider interface to configuration mode design
  docs/features/configuration-mode/PRD.md
  docs/features/configuration-mode/tasks/TASK-001-config-tools-manager.md
  docs/features/configuration-mode/tasks/TASK-003-server-mode-integration.md
  docs/features/configuration-mode/tasks/TASK-006-testing-suite.md
Due: prettier

feat: Implement ConfigToolsManager for configuration mode (TASK-001)
  src/commands/toolset/index.ts
  src/config/preferenceStore.ts
  src/server/enhanced.ts
  src/server/tools/config-tools/manager.test.ts
  src/server/tools/config-tools/manager.ts
  src/server/tools/config-tools/tools/add-tool-annotation.ts
  src/server/tools/config-tools/tools/build-toolset.ts
  src/server/tools/config-tools/tools/delete-toolset.ts
  src/server/tools/config-tools/tools/equip-toolset.ts
  src/server/tools/config-tools/tools/get-active-toolset.ts
  src/server/tools/config-tools/tools/list-available-tools.ts
  src/server/tools/config-tools/tools/list-saved-toolsets.ts
  src/server/tools/config-tools/tools/unequip-toolset.ts
  src/server/tools/config-tools/types.ts
  src/server/tools/index.ts
  src/server/tools/toolset/README.md
  src/server/tools/toolset/loader.test.ts
  src/server/tools/toolset/loader.ts
  src/server/tools/toolset/manager.annotations.test.ts
  src/server/tools/toolset/manager.discovery.test.ts
  src/server/tools/toolset/manager.test.ts
  src/server/tools/toolset/manager.ts
  src/server/tools/toolset/types.ts
  src/server/tools/toolset/validator.test.ts
  src/server/tools/toolset/validator.ts
  src/server/tools/types.ts
  src/server/types.ts
Due: prettier, eslint, typescript

docs: Simplify mode change callback pattern
  docs/features/configuration-mode/PRD.md
  docs/features/configuration-mode/tasks/TASK-002-mode-switching-tools.md
  docs/features/configuration-mode/tasks/TASK-003-server-mode-integration.md
  docs/features/configuration-mode/tasks/TASK-004-auto-exit-triggers.md
Due: prettier

feat(config-mode): Complete TASK-002 - Mode Switching Tools
  docs/features/configuration-mode/PRD.md
  docs/features/configuration-mode/tasks/TASK-002-mode-switching-tools.md
  src/server/tools/common/enter-configuration-mode.ts
  src/server/tools/common/exit-configuration-mode.ts
  src/server/tools/config-tools/manager.test.ts
  src/server/tools/config-tools/manager.ts
  src/server/tools/config-tools/registry.ts
  src/server/tools/config-tools/tools/mode-switching.test.ts
  src/server/tools/types.ts
Due: prettier, eslint, typescript

feat: implement server mode integration for configuration mode system
  justfile
  mcp.test.json
  package.json
  src/server/enhanced.ts
  src/server/tools/common/enter-configuration-mode.ts
  src/server/tools/common/exit-configuration-mode.ts
Due: prettier, eslint, typescript

feat: implement auto-exit triggers and remove deprecated tool registry
  src/server/enhanced.ts
  src/server/tools/config-tools/tools/auto-exit.test.ts
  src/server/tools/config-tools/tools/build-toolset.ts
  src/server/tools/config-tools/tools/equip-toolset.ts
  src/server/tools/index.ts
Due: prettier, eslint, typescript

feat: add feature flag support for configuration mode (TASK-005)
  docs/features/configuration-mode/PRD.md
  docs/features/configuration-mode/tasks/README.md
  docs/features/configuration-mode/tasks/TASK-005-feature-flag.md
  src/config/featureFlagService.ts
  src/config/flagRegistry.ts
  src/server/enhanced.ts
  src/server/tools/config-tools/feature-flag.test.ts
Due: prettier, eslint, typescript

fix: restore toolset before determining initial configuration mode
  src/server/enhanced.ts
Due: prettier, eslint, typescript

test: add tests for server initialization mode determination
  src/server/initialization-mode.test.ts
Due: prettier, eslint, typescript

docs: add Configuration Mode guide and README link (TASK-007)
  README.md
  guides/CONFIGURATION_MODE.md
Due: prettier

chore: release version 0.0.39 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

docs: persona content pack design
  docs/design/persona-content-pack.md
  docs/design/persona-requirements.md
Due: prettier

chore: task breakdown
  docs/tasks/persona-content-pack-tasks.md
Due: prettier

chore: enter tasks into goaly
  docs/tasks/persona-content-pack-tasks.md
Due: prettier

feat: implement core TypeScript interfaces for persona content pack system
  src/persona/index.ts
  src/persona/types.ts
Due: prettier, eslint, typescript

feat: implement comprehensive error handling for persona system (TASK-002)
  src/persona/errors.ts
  src/persona/index.ts
  src/persona/types.ts
Due: prettier, eslint, typescript

feat(persona): implement Zod schemas for persona YAML validation
  src/persona/index.ts
  src/persona/schemas.ts
Due: prettier, eslint, typescript

feat(persona): implement file system scanner for persona discovery (TASK-006)
  src/persona/index.ts
  src/persona/scanner.ts
Due: prettier, eslint, typescript

feat(persona): implement YAML parser with comprehensive error handling
  src/persona/index.ts
  src/persona/parser.ts
Due: prettier, eslint, typescript

feat(persona): implement TASK-007 Persona Discovery Engine
  src/persona/discovery.ts
  src/persona/errors.ts
  src/persona/index.ts
Due: prettier, eslint, typescript

feat(persona): implement comprehensive PersonaValidator for multi-layer validation
  src/persona/index.ts
  src/persona/validator.ts
Due: prettier, eslint, typescript

feat(persona): implement TASK-013 list-personas tool
  .claude/settings.json
  src/config/flagRegistry.ts
  src/connection/manager.test.ts
  src/persona/errors.ts
  src/persona/scanner.ts
  src/persona/schemas.ts
  src/server/enhanced.ts
  src/server/initialization-mode.test.ts
  src/server/tools/common/enter-configuration-mode.ts
  src/server/tools/common/exit-configuration-mode.ts
  src/server/tools/config-tools/feature-flag.test.ts
  src/server/tools/config-tools/manager.test.ts
  src/server/tools/config-tools/manager.ts
  src/server/tools/config-tools/registry.ts
  src/server/tools/config-tools/tools/add-tool-annotation.ts
  src/server/tools/config-tools/tools/auto-exit.test.ts
  src/server/tools/config-tools/tools/equip-toolset.ts
  src/server/tools/config-tools/tools/mode-switching.test.ts
  src/server/tools/config-tools/types.ts
  src/server/tools/index.ts
  src/server/tools/persona/list-personas.ts
  src/server/tools/persona/manager.ts
  src/server/tools/persona/registry.ts
Due: prettier, eslint, typescript

Implement TASK-008: Persona Loader with comprehensive loading capabilities
  src/persona/index.ts
  src/persona/loader.ts
Due: prettier, eslint, typescript

feat: implement validate-persona MCP tool (TASK-014)
  src/server/tools/persona/registry.ts
  src/server/tools/persona/validate-persona.ts
Due: prettier, eslint, typescript

feat: implement high-performance PersonaCache system
  src/persona/cache.test.ts
  src/persona/cache.ts
  src/persona/index.ts
Due: prettier, eslint, typescript

Implement PersonaManager for complete persona lifecycle orchestration
  src/persona/index.ts
  src/persona/manager.ts
Due: prettier, eslint, typescript

style: apply prettier formatting to persona module files
  src/persona/cache.test.ts
  src/persona/loader.ts
  src/server/tools/persona/list-personas.ts
  src/server/tools/persona/manager.ts
  src/server/tools/persona/registry.ts
  src/server/tools/persona/validate-persona.ts
Due: prettier, eslint, typescript

implement: persona toolset bridge for seamless integration
  src/persona/index.ts
  src/persona/manager.ts
  src/persona/toolset-bridge.test.ts
  src/persona/toolset-bridge.ts
Due: prettier, eslint, typescript

feat: implement activate-persona MCP tool (TASK-015)
  src/server/tools/persona/activate-persona.ts
  src/server/tools/persona/registry.ts
Due: prettier, eslint, typescript

feat: implement get-active-persona MCP tool
  src/server/tools/persona/get-active-persona.ts
  src/server/tools/persona/registry.ts
Due: prettier, eslint, typescript

feat: implement deactivate-persona tool for persona content pack system
  src/server/tools/persona/deactivate-persona.ts
  src/server/tools/persona/registry.ts
Due: prettier, eslint, typescript

feat: implement MCP config integration for persona system
  src/persona/index.ts
  src/persona/manager.ts
  src/persona/mcp-integration.test.ts
  src/persona/mcp-integration.ts
Due: prettier, eslint, typescript

feat: implement base persona CLI command with all subcommands
  src/commands/persona/index.ts
  src/index.ts
  src/persona/toolset-bridge.test.ts
  src/persona/toolset-bridge.ts
  src/server/tools/persona/activate-persona.ts
Due: prettier, eslint, typescript

feat(persona): implement comprehensive E2E tests for persona system
  src/persona/scanner.ts
  src/persona/types.ts
  test/e2e/persona-performance.test.ts
  test/e2e/persona-workflows.test.ts
Due: prettier, eslint, typescript

test(persona): add comprehensive test suite with fixtures and integration tests
  src/persona/discovery.test.ts
  src/persona/errors.test.ts
  src/persona/parser.test.ts
  src/persona/scanner.test.ts
  src/persona/schemas.test.ts
  src/persona/types.test.ts
  src/persona/validator.test.ts
  test/fixtures/personas/archive-persona.htp
  test/fixtures/personas/complex-persona/mcp.json
  test/fixtures/personas/complex-persona/persona.yaml
  test/fixtures/personas/invalid-persona/persona.yaml
  test/fixtures/personas/minimal-persona/persona.yaml
  test/fixtures/personas/valid-persona/assets/README.md
  test/fixtures/personas/valid-persona/mcp.json
  test/fixtures/personas/valid-persona/persona.yaml
  test/integration/README.md
  test/integration/persona-cli.test.ts
  test/integration/persona-core.test.ts
  test/integration/persona-discovery.test.ts
  test/integration/persona-mcp-config.test.ts
  test/integration/persona-toolset.test.ts
Due: prettier, eslint, typescript

chore: gitignore codanna
  .codannaignore
  .gitignore
Due: none

feat(persona): add comprehensive justfile recipes for persona testing
  justfile
  personas/archive-persona.htp
  personas/complex-persona/mcp.json
  personas/complex-persona/persona.yaml
  personas/invalid-persona/persona.yaml
  personas/minimal-persona/persona.yaml
  personas/valid-persona/assets/README.md
  personas/valid-persona/mcp.json
  personas/valid-persona/persona.yaml
Due: prettier

Path conditions:
  prettier: any of: \.(ts|js|json|md)$
  eslint: any of: \.ts$
  typescript: any of: \.ts$
