Repository toolprint/hypertool-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

repos:
  # Basic file hygiene and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        description: Trim trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-json
        description: Check JSON syntax
      - id: check-yaml
        description: Check YAML syntax
      - id: check-merge-conflict
        description: Check for merge conflicts
      - id: check-added-large-files
        args: ['--maxkb=1000']
        description: Prevent large files from being committed

  # Local hooks using existing npm scripts
  - repo: local
    hooks:
      # Prettier formatting (auto-fix)
      - id: prettier
        name: Prettier Format
        description: Format code with Prettier
        entry: npm run format
        language: system
        files: \.(ts|js|json|md)$
        pass_filenames: false

      # ESLint linting
      - id: eslint
        name: ESLint
        description: Lint TypeScript files with ESLint
        entry: npm run lint
        language: system
        files: \.ts$
        pass_filenames: false

      # TypeScript compilation check
      - id: typescript
        name: TypeScript Check
        description: Check TypeScript types
        entry: npx tsc --noEmit
        language: system
        files: \.ts$
        pass_filenames: false

      # Optional: Run tests on changed files
      # Uncomment if you want to run tests before commit
      # - id: vitest
      #   name: Vitest Tests
      #   description: Run tests on affected files
      #   entry: npm run test
      #   language: system
      #   files: \.(ts|js)$
      #   pass_filenames: false

# Optional: Configure default hooks behavior
default_stages: [pre-commit]

# Optional: Configure which hooks to run on which stages
# stages: [commit, push, manual]

fix: improve test stability for CI environment
  src/discovery/performance.perf.test.ts
  test/integration/backup-restore.test.ts
Due: prettier, eslint, typescript

fix: make CI tests much more lenient and adaptive
  src/discovery/performance.perf.test.ts
  test/integration/backup-restore.test.ts
Due: prettier, eslint, typescript

fix: skip backup-restore test suite for CI consistency
  test/integration/backup-restore.test.ts
Due: prettier, eslint, typescript

chore: release version 0.0.32 [skip-ci]
  .changeset/semantic-versioning-release.md
  CHANGELOG.md
  package.json
Due: prettier

feat: add setupWizardEnabled feature flag to control first-run behavior
  .gitignore
  src/config-manager/cli/flags.ts
  src/config/featureFlagService.ts
  src/config/preferenceStore.ts
  src/index.ts
Due: prettier, eslint, typescript

chore: add just pre-commit shorthand and apply code formatting
  justfile
  src/config-manager/cli/flags.ts
  src/config/featureFlagService.ts
  src/index.ts
Due: prettier, eslint, typescript

feat: add setupWizardEnabled feature flag to control first-run behavior (#22)
  .gitignore
  justfile
  src/config-manager/cli/flags.ts
  src/config/featureFlagService.ts
  src/config/preferenceStore.ts
  src/index.ts
Due: prettier, eslint, typescript

chore: release version 0.0.33 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

feat: make MCP config 'type' field optional with stdio default
  src/config/mcpConfigParser.test.ts
  src/config/mcpConfigParser.ts
  src/types/config.ts
Due: prettier, eslint, typescript

feat: improve CLI help system for default run mode
  src/index.ts
Due: prettier, eslint, typescript

feat: improve MCP config validation and CLI help system (#24)
  src/config/mcpConfigParser.test.ts
  src/config/mcpConfigParser.ts
  src/index.ts
  src/types/config.ts
Due: prettier, eslint, typescript

chore: release version 0.0.34 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

feat: remove experimental NeDB implementation to eliminate CVE warnings
  package.json
  src/config-manager/backup/manager.test.ts
  src/config-manager/backup/manager.ts
  src/config-manager/cli/export.ts
  src/config-manager/cli/flags.ts
  src/config-manager/cli/interactive/main-menu.ts
  src/config-manager/cli/link.ts
  src/config-manager/cli/show-conflicts.ts
  src/config-manager/cli/show-groups.ts
  src/config-manager/cli/show-interactive.ts
  src/config-manager/cli/show-servers.ts
  src/config-manager/cli/show-sources.ts
  src/config-manager/cli/unlink.ts
  src/config-manager/index.ts
  src/config-manager/serverSync.ts
  src/config/environment.ts
  src/config/featureFlagService.ts
  src/config/mcpConfigLoader.ts
  src/config/preferenceStore.ts
  src/db/compositeDatabaseService.ts
  src/db/nedb/NeDBConfigSourceRepository.ts
  src/db/nedb/NeDBServerConfigGroupRepository.ts
  src/db/nedb/NeDBServerConfigRecordRepository.ts
  src/db/nedbService.ts
  src/scripts/shared/mcpSetupUtils.ts
  src/server/enhanced.ts
Due: prettier, eslint, typescript

fix: improve CLI argument parsing and justfile dev command
  justfile
  src/index.ts
Due: prettier, eslint, typescript

chore: Remove experimental NeDB implementation and fix CLI issues (#25)
  justfile
  package.json
  src/config-manager/backup/manager.test.ts
  src/config-manager/backup/manager.ts
  src/config-manager/cli/export.ts
  src/config-manager/cli/flags.ts
  src/config-manager/cli/interactive/main-menu.ts
  src/config-manager/cli/link.ts
  src/config-manager/cli/show-conflicts.ts
  src/config-manager/cli/show-groups.ts
  src/config-manager/cli/show-interactive.ts
  src/config-manager/cli/show-servers.ts
  src/config-manager/cli/show-sources.ts
  src/config-manager/cli/unlink.ts
  src/config-manager/index.ts
  src/config-manager/serverSync.ts
  src/config/environment.ts
  src/config/featureFlagService.ts
  src/config/mcpConfigLoader.ts
  src/config/preferenceStore.ts
  src/db/compositeDatabaseService.ts
  src/db/nedb/NeDBConfigSourceRepository.ts
  src/db/nedb/NeDBServerConfigGroupRepository.ts
  src/db/nedb/NeDBServerConfigRecordRepository.ts
  src/db/nedbService.ts
  src/index.ts
  src/scripts/shared/mcpSetupUtils.ts
  src/server/enhanced.ts
Due: prettier, eslint, typescript

chore: release version 0.0.35 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

docs: add DXT extension support design documentation
  docs/features/dxt/DXT_SUPPORT.md
  docs/features/dxt/DXT_SUPPORT_PHASED.md
  docs/features/dxt/DXT_SUPPORT_REVIEW.md
Due: prettier

feat: implement DXT extension support prototype
  docs/features/dxt/DXT_INSTALL_SETTINGS.md
  docs/features/dxt/DXT_SUPPORT.md
  docs/features/dxt/DXT_SUPPORT_PHASED.md
  docs/features/dxt/DXT_SUPPORT_REVIEW.md
  examples/hello-dxt.dxt
  examples/hello-dxt/manifest.json
  examples/hello-dxt/package-lock.json
  examples/hello-dxt/package.json
  examples/hello-dxt/server.js
  justfile
  mcp.dxt-test.json
  package-lock.json
  package.json
  src/config-manager/cli/interactive/types.ts
  src/config-manager/index.ts
  src/config/dxt-config.ts
  src/config/mcpConfigParser.ts
  src/connection/clients/dxt.ts
  src/connection/factory.ts
  src/connection/manager.ts
  src/connection/types.ts
  src/db/interfaces.ts
  src/dxt/loader.ts
  src/dxt/manifest.ts
  src/mcp-manager/types.ts
  src/types/config.ts
Due: prettier, eslint, typescript

feat: complete DXT extension management system with MCP server integration
  examples/hello-dxt.dxt
  examples/hello-dxt/manifest.json
  mcp.dxt-test.json
  package.json
  src/commands/extensions/config.ts
  src/commands/extensions/disable.ts
  src/commands/extensions/enable.ts
  src/commands/extensions/index.ts
  src/commands/extensions/install.ts
  src/commands/extensions/list.ts
  src/commands/extensions/main.ts
  src/commands/extensions/refresh.ts
  src/commands/extensions/remove.ts
  src/config/dxt-config.ts
  src/config/extensionConfig.test.ts
  src/config/extensionConfig.ts
  src/config/mcpConfigParser.ts
  src/connection/clients/dxt.ts
  src/connection/extensionFactory.ts
  src/connection/factory.ts
  src/connection/manager.ts
  src/dxt/loader.ts
  src/dxt/manifest.ts
  src/extensions/discovery.ts
  src/extensions/index.ts
  src/extensions/manager.test.ts
  src/extensions/manager.ts
  src/extensions/validation.test.ts
  src/extensions/validation.ts
  src/index.ts
  src/server/enhanced.ts
  src/types/config.ts
Due: prettier, eslint, typescript

fix: resolve TypeScript compilation errors and complete DXT type system
  src/config-manager/index.ts
  src/config/mcpConfigParser.ts
  src/types/config.ts
Due: prettier, eslint, typescript

refactor: separate DXT extensions from transport types for proper architecture
  src/config-manager/cli/interactive/types.ts
  src/config-manager/index.ts
  src/config/mcpConfigParser.test.ts
  src/config/mcpConfigParser.ts
  src/db/interfaces.ts
  src/mcp-manager/types.ts
  src/types/config.ts
Due: prettier, eslint, typescript

feat: centralize feature flag management with single source of truth
  src/commands/extensions/main.ts
  src/config-manager/cli/flags.ts
  src/config-manager/index.ts
  src/config/extensionConfig.test.ts
  src/config/extensionConfig.ts
  src/config/featureFlagService.ts
  src/config/flagRegistry.ts
  src/extensions/discovery.ts
  src/index.ts
  src/server/enhanced.ts
Due: prettier, eslint, typescript

chore: release version 0.0.36 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

Add MSeeP.ai badge to README.md
  README.md
Due: prettier

Deduplicate server initialization and log errors
  src/connection/manager.test.ts
  src/connection/manager.ts
Due: prettier, eslint, typescript

fix(nit): nit use proper app name
  package-lock.json
  src/server/enhanced.ts
Due: prettier, eslint, typescript

Parallelizes server initialization (#23)
  package-lock.json
  src/connection/manager.test.ts
  src/connection/manager.ts
  src/server/enhanced.ts
Due: prettier, eslint, typescript

chore: release version 0.0.37 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

docs: note disabled service command
  README.md
  package-lock.json
  package.json
  src/commands/service/health.ts
  src/commands/service/index.ts
  src/commands/service/logs.ts
  src/commands/service/restart.ts
  src/commands/service/start.ts
  src/commands/service/status.ts
  src/commands/service/stop.ts
  src/service/forever-manager.ts
  src/types/forever.d.ts
Due: prettier, eslint, typescript

fix(nit): added an install justfile command
  justfile
Due: none

Disable service command and drop vulnerable dependency (#28)
  README.md
  justfile
  package-lock.json
  package.json
  src/commands/service/health.ts
  src/commands/service/index.ts
  src/commands/service/logs.ts
  src/commands/service/restart.ts
  src/commands/service/start.ts
  src/commands/service/status.ts
  src/commands/service/stop.ts
  src/service/forever-manager.ts
  src/types/forever.d.ts
Due: prettier, eslint, typescript

chore: release version 0.0.38 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

feat: Add PRD for Configuration Mode feature
  docs/features/prd-configuration-mode.md
Due: prettier

feat: Add Claude Code project configuration
  .claude/commands/proj/new-feature.md
  .claude/settings.json
  .gitignore
Due: prettier

refactor: Reorganize configuration mode feature documentation
  docs/features/configuration-mode/CLAUDE.md
  docs/features/configuration-mode/PRD.md
  docs/features/configuration-mode/tasks/README.md
  docs/features/configuration-mode/tasks/TASK-001-config-tools-manager.md
  docs/features/configuration-mode/tasks/TASK-002-mode-switching-tools.md
  docs/features/configuration-mode/tasks/TASK-003-server-mode-integration.md
  docs/features/configuration-mode/tasks/TASK-004-auto-exit-triggers.md
  docs/features/configuration-mode/tasks/TASK-005-feature-flag.md
  docs/features/configuration-mode/tasks/TASK-006-testing-suite.md
  docs/features/configuration-mode/tasks/TASK-007-documentation.md
Due: prettier

feat: Update configuration mode tools with proper MCP annotations
  .claude/settings.json
  .mcp.json
  docs/features/configuration-mode/PRD.md
  docs/features/configuration-mode/tasks/TASK-002-mode-switching-tools.md
Due: prettier
