Repository toolprint/hypertool-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

repos:
  # Basic file hygiene and validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        description: Trim trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-json
        description: Check JSON syntax
      - id: check-yaml
        description: Check YAML syntax
      - id: check-merge-conflict
        description: Check for merge conflicts
      - id: check-added-large-files
        args: ['--maxkb=1000']
        description: Prevent large files from being committed

  # Local hooks using existing npm scripts
  - repo: local
    hooks:
      # Prettier formatting (auto-fix)
      - id: prettier
        name: Prettier Format
        description: Format code with Prettier
        entry: npm run format
        language: system
        files: \.(ts|js|json|md)$
        pass_filenames: false

      # ESLint linting
      - id: eslint
        name: ESLint
        description: Lint TypeScript files with ESLint
        entry: npm run lint
        language: system
        files: \.ts$
        pass_filenames: false

      # TypeScript compilation check
      - id: typescript
        name: TypeScript Check
        description: Check TypeScript types
        entry: npx tsc --noEmit
        language: system
        files: \.ts$
        pass_filenames: false

      # Optional: Run tests on changed files
      # Uncomment if you want to run tests before commit
      # - id: vitest
      #   name: Vitest Tests
      #   description: Run tests on affected files
      #   entry: npm run test
      #   language: system
      #   files: \.(ts|js)$
      #   pass_filenames: false

# Optional: Configure default hooks behavior
default_stages: [pre-commit]

# Optional: Configure which hooks to run on which stages
# stages: [commit, push, manual]

fix(ctx-measurement): nit
  .mcp.json
  justfile
  package-lock.json
Due: prettier

fix(ctx-measurement): format
  src/persona/manager.ts
  src/server/tools/schemas.ts
  src/server/tools/toolset/manager.ts
  src/server/tools/utils/token-counter.test.ts
  src/server/tools/utils/token-counter.ts
Due: prettier, eslint, typescript

fix(nit): fixes pre-commit checks
  .mcp.json
  docs/features/context-measurement.md
Due: prettier

Add NCP as complementary MCP orchestrator in Related Tools
  README.md
Due: prettier

feat: Add context measurement for MCP tools (#36)
  .mcp.json
  docs/features/context-measurement.md
  justfile
  package-lock.json
  src/persona/manager.ts
  src/server/tools/schemas.ts
  src/server/tools/toolset/manager.ts
  src/server/tools/utils/token-counter.test.ts
  src/server/tools/utils/token-counter.ts
  src/test-utils/CLAUDE.md
  src/test-utils/test-active-toolset.sh
Due: prettier, eslint, typescript

Implement tool alias routing and stub MCP servers for tests
  docs/features/prd.tool-alias-support.md
  mcp.test.json
  personas/test-persona/mcp.json
  src/server/enhanced.test.ts
  src/server/tools/config-tools/tools/build-toolset.ts
  src/server/tools/config-tools/tools/list-available-tools.ts
  src/server/tools/schemas.ts
  src/server/tools/toolset/loader.test.ts
  src/server/tools/toolset/loader.ts
  src/server/tools/toolset/manager.test.ts
  src/server/tools/toolset/manager.ts
  src/server/tools/toolset/types.ts
  src/server/tools/toolset/validator.test.ts
  src/server/tools/toolset/validator.ts
  test/stub-servers/mcp-stub.mjs
Due: prettier, eslint, typescript

test: add management ui vitest harness
  docs/hypertool-management-ui-prd.md
  package.json
  src/management-ui/index.html
  src/management-ui/package-lock.json
  src/management-ui/package.json
  src/management-ui/postcss.config.cjs
  src/management-ui/public/.gitkeep
  src/management-ui/src/components/layout/app-shell.test.tsx
  src/management-ui/src/components/layout/app-shell.tsx
  src/management-ui/src/components/layout/theme-toggle.tsx
  src/management-ui/src/components/ui/accordion.tsx
  src/management-ui/src/components/ui/badge.tsx
  src/management-ui/src/components/ui/button.tsx
  src/management-ui/src/components/ui/card.tsx
  src/management-ui/src/components/ui/input.tsx
  src/management-ui/src/components/ui/navigation-menu.tsx
  src/management-ui/src/components/ui/scroll-area.tsx
  src/management-ui/src/components/ui/separator.tsx
  src/management-ui/src/components/ui/table.tsx
  src/management-ui/src/components/ui/tabs.tsx
  src/management-ui/src/index.css
  src/management-ui/src/lib/utils.ts
  src/management-ui/src/main.tsx
  src/management-ui/src/providers/theme-provider.tsx
  src/management-ui/src/routes/index.tsx
  src/management-ui/src/routes/pages/config.tsx
  src/management-ui/src/routes/pages/dashboard.test.tsx
  src/management-ui/src/routes/pages/dashboard.tsx
  src/management-ui/src/routes/pages/personas.tsx
  src/management-ui/src/routes/pages/servers.tsx
  src/management-ui/src/routes/pages/tools.tsx
  src/management-ui/src/routes/pages/toolsets.tsx
  src/management-ui/src/routes/root-layout.tsx
  src/management-ui/src/test/test-utils.tsx
  src/management-ui/tailwind.config.ts
  src/management-ui/tsconfig.json
  src/management-ui/tsconfig.node.json
  src/management-ui/vite.config.ts
  src/management-ui/vitest.setup.ts
Due: prettier, eslint, typescript

Restore real MCP configs and add stub-driven integration harnesses
  docs/features/prd.tool-alias-support.md
  src/server/enhanced.test.ts
  src/server/tools/config-tools/tools/build-toolset.ts
  src/server/tools/config-tools/tools/list-available-tools.ts
  src/server/tools/schemas.ts
  src/server/tools/toolset/loader.test.ts
  src/server/tools/toolset/loader.ts
  src/server/tools/toolset/manager.test.ts
  src/server/tools/toolset/manager.ts
  src/server/tools/toolset/types.ts
  src/server/tools/toolset/validator.test.ts
  src/server/tools/toolset/validator.ts
  src/test-utils/test-config-tools.sh
  src/test-utils/test-persona-toolset-activation.sh
  src/test-utils/test-tool-alias-routing.sh
  test/stub-servers/mcp-stub.mjs
Due: prettier, eslint, typescript

fix: reorder publish-beta workflow to commit version before publishing
  .github/workflows/publish-beta.yml
Due: none

chore: sync version to 0.0.43 to match published NPM version
  package-lock.json
  package.json
Due: prettier

feat: add pr-prep command to ensure CI compatibility before commits
  CLAUDE.md
  justfile
Due: prettier

chore: add test-results directory to gitignore
  .gitignore
Due: none

chore: remove test-results files from git tracking
  test-results/junit.xml
  test-results/results.json
Due: prettier

feat: add /proj:generate-pr-desc slash command
  .claude/commands/proj/generate-pr-desc.md
Due: prettier

docs: clarify gh CLI auto-detects PR for current branch
  .claude/commands/proj/generate-pr-desc.md
Due: prettier

feat: add PR description backup and revert capability
  .claude/commands/proj/generate-pr-desc.md
Due: prettier

fix(version-bump): fixes version bump issues in builds (#41)
  .claude/commands/proj/generate-pr-desc.md
  .github/workflows/publish-beta.yml
  .gitignore
  CLAUDE.md
  justfile
  package-lock.json
  package.json
  test-results/junit.xml
  test-results/results.json
Due: prettier

chore: release version 0.0.44 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

fix: use GitHub Rulesets bypass instead of GitHub App
  .github/RULESET_SETUP.md
  .github/workflows/publish-beta.yml
Due: prettier

fix: use SSH deploy key instead of GITHUB_TOKEN for protected branch pushes
  .github/RULESET_SETUP.md
  .github/workflows/publish-beta.yml
Due: prettier

docs: update RULESET_SETUP with deploy key method as chosen solution
  .github/RULESET_SETUP.md
Due: prettier

chore: sync package.json version to 0.0.44
  package-lock.json
  package.json
Due: prettier

feat: add allowed-tools list to generate-pr-desc slash command
  .claude/commands/proj/generate-pr-desc.md
Due: prettier

Version fix 2 (#42)
  .claude/commands/proj/generate-pr-desc.md
  .github/RULESET_SETUP.md
  .github/workflows/publish-beta.yml
  package-lock.json
  package.json
Due: prettier

chore: release version 0.0.45 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

feat: add generate-release-notes slash command and release notes template
  .claude/commands/proj/generate-release-notes.md
  .github/RELEASE_NOTES_TEMPLATE.md
Due: prettier

fix(chore): adds assets for ctx
  assets/all_tools_context.png
  assets/toolset_context.png
Due: none

docs: add context measurement feature to README
  README.md
Due: prettier

feat: add create-pr slash command for complete PR workflow
  .claude/commands/proj/create-pr.md
Due: prettier

feat: add rebase step and restrict git remote permissions in create-pr
  .claude/commands/proj/create-pr.md
Due: prettier

fix: clarify generate-release-notes updates existing release, handles multiple tags
  .claude/commands/proj/generate-release-notes.md
Due: prettier

feat: add automatic reviewer assignment to create-pr command
  .claude/commands/proj/create-pr.md
Due: prettier

Ctx measurement example (#43)
  .claude/commands/proj/create-pr.md
  .claude/commands/proj/generate-release-notes.md
  .github/RELEASE_NOTES_TEMPLATE.md
  README.md
  assets/all_tools_context.png
  assets/toolset_context.png
Due: prettier

chore: release version 0.0.46 [skip-ci]
  CHANGELOG.md
  package.json
Due: prettier

feat: add MCP prompt serving for Claude Code slash commands
  package-lock.json
  src/server/base.ts
  src/server/prompts/index.ts
  src/server/prompts/new-toolset.ts
  src/server/prompts/registry.ts
  src/server/prompts/types.ts
Due: prettier, eslint, typescript

refactor: move prompt content to markdown file for better maintainability
  package.json
  src/server/prompts/new-toolset.md
  src/server/prompts/new-toolset.ts
Due: prettier, eslint, typescript
